#window{
}

.btnLeft {
	background-color: #2E2C2C;
    color: #FFF;
    border-radius: 0;
    font-size: 12px;
    border: none;
}
.btnLeft:hover {
	background-color: #111111;
}
.btnLeft:active {background-color: #010000;}

.labelTop {
	background-color: #F1F1F1;
    color: #000;
    font-size: 12px;
    border: none;
}

.labelInicio {
	font-size: 14px;
	color: #000;
	padding: 10px 10px 10px 10px;
}

.descExerc {
	color: #FFFA00;
	background: #1D1D1D;
	border-radius: 10px;
	box-shadow: 1px 5px 5px #000;
	font-size: 14px;
	text-shadow: 1px 2px 2px 50px #000;
}
.btnRight {
	background: #1D1D1D; 
	color: #FFF;
	border-radius: 10px;
	border: 1px solid #000;
	text-shadow: 1px 2px 2px 20px #000;
}
.btnRight:hover {
	background: #000;
}
.btnStart {
	background: #09409D;
	color: #FFF;
	font-size: 13px;
	border: none;
	border-radius: 5px 5px;
}
.btnStart:hover {
	background: #052C6E;
}